/* 480-less    - phone landscape & smaller */
@media all and (max-width: 640px) {
    .body-1 {
        width: 100%;
        padding: 30px 0;
        display: flex;
        flex-direction: column-reverse;
    }

    .left-body-1 {
        width: 90%;
        margin: auto;
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .right-body-1 {
        width: 90%;
        margin: auto;
        
    }

    .right-body-1 h1 {
        text-align: left;
        padding: 20px 30px;
        font-size: 25px;
        font-weight: bold;
    }

    .right-body-1 p {
        font-weight: 400;
    }

    .left-body-1 img {
        width: 80%;
        margin: auto;
    }
 }



/*  1024-768    - tablet landscape */
@media all and (min-width: 768px) and (max-width: 1024px) { 
    .body-1 {
        width: 100%;
        padding: 30px 0;
        display: flex;
    }

    .left-body-1 {
        width: 90%;
        margin: auto;
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .right-body-1 {
        width: 90%;
        margin: auto;
        
    }

    .right-body-1 h1 {
        text-align: left;
        padding: 20px 30px;
        font-size: 25px;
        font-weight: bold;
    }

    .right-body-1 p {
        font-weight: 400;
    }

    .left-body-1 img {
        width: 80%;
        margin: auto;
    }
}


/* 1280-1024   - desktop (default grid) */

@media all and (min-width: 1024px) and (max-width: 1836px) { 
    .body-1 {
        width: 100%;
        padding: 30px 0;
        display: flex;
    }

    .left-body-1 {
        width: 45%;
        margin: auto;
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .right-body-1 {
        width: 45%;
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .right-body-1 h1 {
        text-align: left;
        padding: 20px 30px;
        font-size: 40px;
        font-weight: bold;
    }

    .right-body-1 p {
        font-weight: 400;
        font-size: 25px;
        line-height: 50px;
    }

    .left-body-1 img {
        width: 80%;
        margin: auto;
    }
}

/* BODY SECTION 2 */
/* 480-less    - phone landscape & smaller */
@media all and (max-width: 640px) {
    .body-2 {
        width: 100%;
        padding: 30px 0;
        display: flex;
        flex-direction: column-reverse;
    }

    .left-body-2 {
        width: 90%;
        margin: auto;
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .right-body-2 {
        width: 90%;
        margin: auto;
        
    }

    .right-body-2 h1 {
        text-align: left;
        padding: 20px 30px;
        font-size: 25px;
        font-weight: bold;
    }

    .left-body-2 img {
        width: 80%;
        margin: auto;
    }
 }


 /*  1024-768    - tablet landscape */
@media all and (min-width: 768px) and (max-width: 1024px) { 
    .body-2 {
        width: 100%;
        padding: 30px 0;
        display: flex;
    }

    .left-body-2 {
        width: 90%;
        margin: auto;
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .right-body-2 {
        width: 90%;
        margin: auto;
        
    }

    .right-body-2 h1 {
        text-align: left;
        padding: 20px 30px;
        font-size: 25px;
        font-weight: bold;
    }

    .left-body-2 img {
        width: 80%;
        margin: auto;
    }
}


/* 1280-1024   - desktop (default grid) */

@media all and (min-width: 1024px) and (max-width: 1836px) { 
    .body-2 {
        width: 100%;
        padding: 30px 0;
        display: flex;
        flex-direction: row-reverse;
    }

    .left-body-2 {
        width: 45%;
        margin: auto;
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .right-body-2 {
        width: 45%;
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .right-body-2 h1 {
        text-align: left;
        padding: 20px 30px;
        font-size: 40px;
        font-weight: bold;
    }

    .left-body-2 img {
        width: 80%;
        margin: auto;
    }
}


/* SUBSCRIPTION SECTION */
/* 480-less    - phone landscape & smaller */
@media all and (max-width: 640px) {
    .subscription {
        width: 100%;
        margin-bottom: 20px;
    }

    .subscription form {
        width: 70%;
        height: 300px;
        background-color: #F9E0AE;
        margin: auto;
        display: flex;
        flex-direction: column;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        
    }

    .subscription form input {
        width: 50%;
        margin: auto;
        text-align: center;
        border: none;
        padding: 10px;
    }

    .subscription form input:focus {
            outline: none;}

    .subscription form button {
        width: 50%;
        margin: auto;
        background-color: #C24914;
        border: none;
        color: white;
        padding: 10px;
    }
}


/*  1024-768    - tablet landscape */
@media all and (min-width: 768px) and (max-width: 1024px) { 
    .subscription {
        width: 100%;
        margin-bottom: 20px;
    }

    .subscription form {
        width: 90%;
        height: 100px;
        background-color: #F9E0AE;
        margin: auto;
        display: flex;
        
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        
    }

    .subscription form input {
        width: 20%;
        margin: auto;
        text-align: center;
        border: none;
        padding: 10px;
    }

    .subscription form input:focus {
            outline: none;}

    .subscription form button {
        width: 20%;
        margin: auto;
        background-color: #C24914;
        border: none;
        color: white;
        padding: 10px;
    }
}


/* 1280-1024   - desktop (default grid) */

@media all and (min-width: 1024px) and (max-width: 1836px) { 
     .subscription {
        width: 100%;
        margin-bottom: 20px;
    }

    .subscription form {
        width: 90%;
        height: 150px;
        background-color: #F9E0AE;
        margin: auto;
        display: flex;
        
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        
    }

    .subscription form input {
        width: 30%;
        margin: auto;
        text-align: center;
        border: none;
        padding: 20px;
        font-size: 20px;
        
    }

    .subscription form input:focus {
            outline: none;}

    .subscription form button {
        width: 20%;
        margin: auto;
        background-color: #C24914;
        border: none;
        color: white;
        padding: 20px;
    }
}