/* 480-less    - phone landscape & smaller */
@media all and (max-width: 640px) {
    .body-1 {
        width: 100%;
        padding: 30px 0;
        display: flex;
        flex-direction: column-reverse;
    }

    .left-body-1 {
        width: 90%;
        margin: auto;
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .right-body-1 {
        width: 90%;
        margin: auto;
        
    }

    .right-body-1 h1 {
        text-align: left;
        padding: 20px 30px;
        font-size: 25px;
        font-weight: bold;
    }

    .right-body-1 p {
        font-weight: 400;
    }

    .left-body-1 img {
        width: 80%;
        margin: auto;
    }
 }



/*  1024-768    - tablet landscape */
@media all and (min-width: 768px) and (max-width: 1024px) { 
    .body-1 {
        width: 100%;
        padding: 30px 0;
        display: flex;
    }

    .left-body-1 {
        width: 90%;
        margin: auto;
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .right-body-1 {
        width: 90%;
        margin: auto;
        
    }

    .right-body-1 h1 {
        text-align: left;
        padding: 20px 30px;
        font-size: 25px;
        font-weight: bold;
    }

    .right-body-1 p {
        font-weight: 400;
    }

    .left-body-1 img {
        width: 80%;
        margin: auto;
    }
}


/* 1280-1024   - desktop (default grid) */

@media all and (min-width: 1024px) and (max-width: 1836px) { 
    .body-1 {
        width: 100%;
        padding: 30px 0;
        display: flex;
    }

    .left-body-1 {
        width: 45%;
        margin: auto;
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .right-body-1 {
        width: 45%;
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .right-body-1 h1 {
        text-align: left;
        padding: 20px 30px;
        font-size: 40px;
        font-weight: bold;
    }

    .right-body-1 p {
        font-weight: 400;
        font-size: 25px;
        line-height: 50px;
    }

    .left-body-1 img {
        width: 80%;
        margin: auto;
    }
}

/* BODY SECTION 2 */
/* 480-less    - phone landscape & smaller */
@media all and (max-width: 640px) {
    .body-2 {
        width: 100%;
        padding: 30px 0;
        display: flex;
        flex-direction: column-reverse;
    }

    .left-body-2 {
        width: 90%;
        margin: auto;
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .right-body-2 {
        width: 90%;
        margin: auto;
        
    }

    .right-body-2 h1 {
        text-align: left;
        padding: 20px 30px;
        font-size: 25px;
        font-weight: bold;
    }

    .left-body-2 img {
        width: 80%;
        margin: auto;
    }
 }


 /*  1024-768    - tablet landscape */
@media all and (min-width: 768px) and (max-width: 1024px) { 
    .body-2 {
        width: 100%;
        padding: 30px 0;
        display: flex;
    }

    .left-body-2 {
        width: 90%;
        margin: auto;
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .right-body-2 {
        width: 90%;
        margin: auto;
        
    }

    .right-body-2 h1 {
        text-align: left;
        padding: 20px 30px;
        font-size: 25px;
        font-weight: bold;
    }

    .left-body-2 img {
        width: 80%;
        margin: auto;
    }
}


/* 1280-1024   - desktop (default grid) */

@media all and (min-width: 1024px) and (max-width: 1836px) { 
    .body-2 {
        width: 100%;
        padding: 30px 0;
        display: flex;
        flex-direction: row-reverse;
    }

    .left-body-2 {
        width: 45%;
        margin: auto;
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .right-body-2 {
        width: 45%;
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .right-body-2 h1 {
        text-align: left;
        padding: 20px 30px;
        font-size: 40px;
        font-weight: bold;
    }

    .left-body-2 img {
        width: 80%;
        margin: auto;
    }
}


/* SUBSCRIPTION SECTION */
/* 480-less    - phone landscape & smaller */
@media all and (max-width: 640px) {
    .subscription {
        width: 100%;
        margin-bottom: 20px;
    }

    .subscription form {
        width: 70%;
        height: 300px;
        background-color: #F9E0AE;
        margin: auto;
        display: flex;
        flex-direction: column;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        
    }

    .subscription form input {
        width: 70%;
        margin: auto;
        text-align: center;
        border: none;
        padding: 10px;
    }

    .subscription form input:focus {
            outline: none;}

    .subscription form button {
        width: 70%;
        margin: auto;
        background-color: #C24914;
        border: none;
        color: white;
        padding: 10px;
    }
}


/*  1024-768    - tablet landscape */
@media all and (min-width: 768px) and (max-width: 1024px) { 
    .subscription {
        width: 100%;
        margin-bottom: 20px;
    }

    .subscription form {
        width: 90%;
        height: 100px;
        background-color: #F9E0AE;
        margin: auto;
        display: flex;
        
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        
    }

    .subscription form input {
        width: 20%;
        margin: auto;
        text-align: center;
        border: none;
        padding: 10px;
    }

    .subscription form input:focus {
            outline: none;}

    .subscription form button {
        width: 20%;
        margin: auto;
        background-color: #C24914;
        border: none;
        color: white;
        padding: 10px;
    }
}


/* 1280-1024   - desktop (default grid) */

@media all and (min-width: 1024px) and (max-width: 1836px) { 
     .subscription {
        width: 100%;
        margin-bottom: 20px;
    }

    .subscription form {
        width: 90%;
        height: 150px;
        background-color: #F9E0AE;
        margin: auto;
        display: flex;
        
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        
    }

    .subscription form input {
        width: 30%;
        margin: auto;
        text-align: center;
        border: none;
        padding: 20px;
        font-size: 20px;
        
    }

    .subscription form input:focus {
            outline: none;}

    .subscription form button {
        width: 20%;
        margin: auto;
        background-color: #C24914;
        border: none;
        color: white;
        padding: 20px;
    }
}


/* COMMUNITY SECTION */
.community {
    width: 70%;
    height: 900px;
    margin: 300px auto;
    background-image: url("../images/comm-img.png");
    background-size: cover; /* Ensure the image covers the entire container */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
}

/* 640-less    - phone landscape & smaller */
@media all and (max-width: 640px) {
    .community {
        width: 90%;
        background-size: inherit;
        background-size: contain;
        height: 250px;
        margin: 100px auto;
        position: relative;
    } 

    .community h1 {
        font-size: 20px;
        padding-bottom: 8px;
    }

    .community p {
        font-size: small;
    }

    .community button {
        margin-top: 30px;
        font-size: 12px;
        color: white;
        background-color: #FC8621;
        border: transparent;
        border-radius: 5px;
        padding: 5px;
    }


    .circle-1 {
        position: absolute;
        top: 180px;
        width: 50px;
    }

    .circle-2 {
        position: absolute;
        right: 40px;
        top: 0;
        width: 50px;
    }

    .circle-3 {
        position: absolute;
        top: 200px;
        left: 100px;
        width: 50px;
    }

     .circle-4 {
        position: absolute;
        top: 100px;
        right: 0;
        width: 50px;
    }
}


/*  1024-768    - tablet landscape */
@media all and (min-width: 768px) and (max-width: 1024px) {
    .community {
        width: 90%;
        background-size: inherit;
        background-size: contain;
        height: 500px;
        margin: 200px auto;
        position: relative;
    } 

    .community h1 {
        font-size: 30px;
        padding-bottom: 8px;
    }

    .community p {
        font-size: 18px;
    }

    .community button {
        margin-top: 30px;
        font-size: 16px;
        color: white;
        background-color: #FC8621;
        border: transparent;
        border-radius: 10px;
        padding: 15px;
    }


    .circle-1 {
        position: absolute;
        top: 300px;
        width: 80px;
    }

    .circle-2 {
        position: absolute;
        right: 100px;
        top: 0;
        width: 80px;
    }

    .circle-3 {
        position: absolute;
        top: 400px;
        left: 150px;
        width: 80px;
    }

     .circle-4 {
        position: absolute;
        top: 200px;
        right: 0;
        width: 80px;
    }
}



/* 1280-1024   - desktop (default grid) */

@media all and (min-width: 1024px) and (max-width: 1836px) { 
    .community {
        width: 90%;
        background-size: inherit;
        background-size: cover;
        height: 900px;
        margin: 300px auto;
        position: relative;
    } 

    .community h1 {
        padding-bottom: 8px;
        font-weight: bold;
        font-size: 60px;
    }

    .community p {
        font-size: 24px;
    }

    .community button {
        margin-top: 30px;
        font-size: 24px;
        color: white;
        background-color: #FC8621;
        border: transparent;
        border-radius: 20px;
        padding: 20px;
    }


    .circle-1 {
        position: absolute;
        top: 450px;
        width: 120px;
    }

    .circle-2 {
        position: absolute;
        right: 200px;
        top:50px;
        width: 120px;
    }

    .circle-3 {
        position: absolute;
        top: 700px;
        left: 300px;
        width: 120px;
    }

     .circle-4 {
        position: absolute;
        top: 400px;
        right: 0;
        width: 120px;
    }
}


/* FOOTER SECTION */
footer {
    width: 90%;
    margin: auto;
    background-color: #F9E0AE;
}


/* 640-less    - phone landscape & smaller */
@media all and (max-width: 640px) {
    footer {
        padding: 50px 10px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin: 10px;
    }

    footer .logo {
        width: 70%;
        margin: auto;
        display: flex;
        justify-content: center;
    }

    .follow-us {
        width: 70%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .follow-us h1 {
        font-size: 18px;
    }

    .social {
        display: flex;
        gap: 20px;
    }

    .social img {
        object-fit: contain;
        cursor: pointer;
    }

    .links {
        width: 70%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .links ul li a {
        text-decoration: none;
        color: gray;
        font-size: 14px;
    }

    .links h1 {
        font-size: 18px;
    }

    .contacts {
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contacts h1 {
        font-size: 18px;
    }

    .contacts p {
        color: gray;
        font-size: 14px;
    }
}